* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.grid-container {
	width: 1140px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, minmax(240px, 260px)); 
	grid-template-rows: repeat(2, minmax(240px, auto));
	grid-auto-rows: minmax(240px, auto);
	gap: 60px;
	padding-top: 83px;
}

.grid-elem {
	font-weight: 500;
}

img {
	width: 100%;
	margin-bottom: 15px;
}